In [1]:
import pandas as pd

In [2]:
aep_data = pd.read_csv("data/AEP_hourly.csv")
comed_data = pd.read_csv("data/COMED_hourly.csv")
dayton_data = pd.read_csv("data/DAYTON_hourly.csv")
deok_data = pd.read_csv("data/DEOK_hourly.csv")
dom_data = pd.read_csv("data/DOM_hourly.csv")
duq_data = pd.read_csv("data/DUQ_hourly.csv")
ekpc_data = pd.read_csv("data/EKPC_hourly.csv")
fe_data = pd.read_csv("data/FE_hourly.csv")
ni_data = pd.read_csv("data/NI_hourly.csv")
pjm_data = pd.read_csv("data/pjm_hourly_est.csv")
pjm_load_data = pd.read_csv("data/PJM_Load_hourly.csv")
pjme_data = pd.read_csv("data/PJME_hourly.csv")
pjmw_data = pd.read_csv("data/PJMW_hourly.csv")

In [3]:
aep_data

                   Datetime   AEP_MW
0       2004-12-31 01:00:00  13478.0
1       2004-12-31 02:00:00  12865.0
2       2004-12-31 03:00:00  12577.0
3       2004-12-31 04:00:00  12517.0
4       2004-12-31 05:00:00  12670.0
...                     ...      ...
121268  2018-01-01 20:00:00  21089.0
121269  2018-01-01 21:00:00  20999.0
121270  2018-01-01 22:00:00  20820.0
121271  2018-01-01 23:00:00  20415.0
121272  2018-01-02 00:00:00  19993.0

[121273 rows x 2 columns]

In [16]:
merged_data = pd.merge(aep_data, comed_data, on='Datetime')
merged_data = pd.merge(merged_data, dayton_data, on='Datetime')
merged_data = pd.merge(merged_data, dayton_data, on='Datetime')
merged_data = pd.merge(merged_data, deok_data, on='Datetime')
merged_data = pd.merge(merged_data, dom_data, on='Datetime')
merged_data = pd.merge(merged_data, duq_data, on='Datetime')
merged_data = pd.merge(merged_data, ekpc_data, on='Datetime')
merged_data = pd.merge(merged_data, fe_data, on='Datetime')
# gives 0 rows
# merged_data = pd.merge(merged_data, ni_data, on='Datetime')
# merged_data = pd.merge(merged_data, pjm_data, on='Datetime')
# merged_data = pd.merge(merged_data, pjm_load_data, on='Datetime')
# merged_data = pd.merge(merged_data, pjme_data, on='Datetime')
# merged_data = pd.merge(merged_data, pjmw_data, on='Datetime')
merged_data

,Datetime,AEP_MW,COMED_MW,DAYTON_MW_x,DAYTON_MW_y,DEOK_MW,DOM_MW,DUQ_MW,EKPC_MW,FE_MW
0,2013-12-31 01:00:00,15128.0,11979.0,1930.0,1930.0,3065.0,10239.0,1563.0,1861.0,7459.0
1,2013-12-31 02:00:00,14886.0,11438.0,1884.0,1884.0,2970.0,9964.0,1498.0,1835.0,7241.0
2,2013-12-31 03:00:00,14831.0,11113.0,1845.0,1845.0,2917.0,9921.0,1469.0,1841.0,7115.0
3,2013-12-31 04:00:00,14873.0,10928.0,1843.0,1843.0,2910.0,9981.0,1461.0,1872.0,7073.0
4,2013-12-31 05:00:00,15001.0,10926.0,1875.0,1875.0,2958.0,10290.0,1481.0,1934.0,7156.0
...,...,...,...,...,...,...,...,...,...,...
47368,2018-01-01 20:00:00,21089.0,13858.0,2732.0,2732.0,4426.0,18418.0,1962.0,2866.0,9378.0
47369,2018-01-01 21:00:00,20999.0,13758.0,2724.0,2724.0,4419.0,18567.0,1940.0,2846.0,9255.0
47370,2018-01-01 22:00:00,20820.0,13627.0,2664.0,2664.0,4355.0,18307.0,1891.0,2883.0,9044.0
47371,2018-01-01 23:00:00,20415.0,13336.0,2614.0,2614.0,4224.0,17814.0,1820.0,2880.0,8676.0
47372,2018-01-02 00:00:00,19993.0,12816.0,2552.0,2552.0,4100.0,17428.0,1721.0,2846.0,8393.0