In [9]:
import pandas as pd

In [11]:
aep_data = pd.read_csv("data/AEP_hourly.csv")
comed_data = pd.read_csv("data/COMED_hourly.csv")
dayton_data = pd.read_csv("data/DAYTON_hourly.csv")
deok_data = pd.read_csv("data/DEOK_hourly.csv")
dom_data = pd.read_csv("data/DOM_hourly.csv")
duq_data = pd.read_csv("data/DUQ_hourly.csv")
ekpc_data = pd.read_csv("data/EKPC_hourly.csv")
fe_data = pd.read_csv("data/FE_hourly.csv")
ni_data = pd.read_csv("data/NI_hourly.csv")
pjm_data = pd.read_csv("data/pjm_hourly_est.csv")
pjm_load_data = pd.read_csv("data/PJM_Load_hourly.csv")
pjme_data = pd.read_csv("data/PJME_hourly.csv")
pjmw_data = pd.read_csv("data/PJMW_hourly.csv")

In [12]:
aep_data

                   Datetime   AEP_MW
0       2004-12-31 01:00:00  13478.0
1       2004-12-31 02:00:00  12865.0
2       2004-12-31 03:00:00  12577.0
3       2004-12-31 04:00:00  12517.0
4       2004-12-31 05:00:00  12670.0
...                     ...      ...
121268  2018-01-01 20:00:00  21089.0
121269  2018-01-01 21:00:00  20999.0
121270  2018-01-01 22:00:00  20820.0
121271  2018-01-01 23:00:00  20415.0
121272  2018-01-02 00:00:00  19993.0

[121273 rows x 2 columns]

In [ ]:
merged_data = pd.merge()